<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem name="FilesSync" id="ftp_http_client.file_sync_menu_root"
              groups="base.group_erp_manager,ftp_http_client.group_ftp_manager"
              web_icon="ftp_http_client,static/description/icon.png"
              sequence="309"/>

    <menuitem id="menu_filesync_config" name="Configuration"
              parent="ftp_http_client.file_sync_menu_root"
              groups="base.group_system" sequence="90"/>

    <menuitem id="menu_action_sync_attachment" name="Sync attachments"
              action="action_todo_attachment"
              parent="ftp_http_client.file_sync_menu_root"
              groups="base.group_system"
              sequence="80"/>

    <menuitem id="menu_network_client" name="Network Client Settings"
              parent="menu_filesync_config"
              action="action_network_client"/>
</odoo>
