.o_wsale_product_sub .product_price{
    display: none;
}

.o_search_result_item .flex-shrink-0{
    display: none;
}

.eezee_contact_card{
    display: none;
}

.o_carousel_product_card_body span[data-oe-expression="record_price"],
.oe_kanban_global_click .card-body .card-text small
{
    display: none;
}
 
